<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/matrix.css') }}">
</head>
<body>
    <div id="sidebar">
        <div id="taskListContainer">
            <ul id="taskList"></ul>
        </div>
    </div>

    <div id="centerContainer">
         <h1>Task Manager</h1>
         <div class="button-container">
        <button id="toggleButton" onclick="toggleTaskForm()">Toggle Task Form</button>
        <a id="backToIndexButton" href="{{ url_for('main.index') }}">Back to Main</a>
        <button id="toggleButton" onclick="closeEditFormView()">Close</button>
         </div>

             <div id="editTaskFormContainer" style="display:none;">
            <h2>Edit Task</h2>
            <form id="editTaskForm" onsubmit="editTaskView(); return false;">
                <input type="hidden" id="editTaskId"> <!-- Hidden field for task ID -->
                <input type="text" id="editTaskInput" placeholder="Edit task" required>
                <input type="text" id="editTaskLocation" placeholder="Location (optional)">
                <input type="date" id="editTaskDueDate">
                <input type="time" id="editTaskDueTime">
                <input type="number" id="editTaskPriority" placeholder="Priority on scale of 1-10 (optional)" min="1" max="10">
                <label for="editTaskColor">Choose Color:</label>
                <input type="color" id="editTaskColor" value="#4CAF50">
                <button type="submit">Save Changes</button>
            </form>
        </div>
        <div id="taskFormContainer" style="display:none;">
            <h2>New Task</h2>
            <form id="taskForm" onsubmit="addTaskView(); return false;">
                <input type="text" id="taskInput" placeholder="Enter a new task" required>
                <input type="text" id="taskLocation" placeholder="Location (optional)">
                <input type="date" id="taskDueDate">
                <input type="time" id="taskDueTime">
                <input type="number" id="taskPriority" placeholder="Priority on scale of 1-10 (optional)" min="1" max="10">
                <label for="taskColor">Choose Color:</label>
                <input type="color" id="taskColor" value="#4CAF50">
                <button type="submit">Add Task</button>
            </form>
        </div>
        <div id="matrixContainer"  >
            <img id="matrix" src="{{ url_for('static', filename='images/matrix.jpg') }}" alt="matrix">
            <canvas id="taskCanvas" class="matrix-canvas"></canvas>
        </div>
    </div>



    <script src="{{ url_for('static', filename='js/matrix.js') }}"></script>
</body>
</html>